/* Use flexbox to align all divs in a row. Use wrap so that the divs appear on multiple rows. Center the rows in the container*/


div {
    height: 90px;
    width: 140px; 
    background-color: darkgray;
    margin: 1em;
    border: 2px solid red;
    text-align: center;}

.box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }

